@font-face {
    font-family:"Oswald";
    src:url("fonts/Oswald/Oswald.eot?") format("eot"),url("fonts/Oswald/Oswald.woff") format("woff"),url("fonts/Oswald/Oswald.ttf") format("truetype"),url("fonts/Oswald/Oswald.svg#Oswald") format("svg");
    font-weight:normal;
    font-style:normal;
}

.show-event-date {
    margin-bottom: 0px;
}

.business-tool-block {
    margin-top: 25px !important;
}

.blog-feed {
    border-bottom: 1px solid;
    border-color: #578ebe;
}

.blog-feed:last-of-type {
    border-bottom:none;
    margin-bottom:0;
}

.my-dashboard-stat {
    min-height: 118px;
}

.title {
    font-family: 'Oswald';
    /*font-style:light;*/
    font-weight: 300;
}

.page-title, .page-breadcrumb, .caption{
    font-family: 'Oswald';
    /*font-style:light;*/
    font-weight: 400;
}